#prod_img {
  height: 700px;
  width: 840px;
  text-align: center;
  transition: top 1s ease-in-out;
  cursor: pointer;
}
#left_prod {
  height: 1272.6px;
  width: 784px;
  margin: 0px 0px 39.2px 28px;
  padding: 0px 39.2px 0px 0px;
}
#prod_left_right {
  display: flex;
  margin: auto;
  width: 80%;
  padding-top: 140px;
  padding-bottom: 630px;
}
.width {
  width: 758.8px;
}
.border {
  border-top: 1px solid #f2f2f2;
}
.cl {
  color: #666666;
}
.cl2 {
  color: #333333;
}
.fs {
  font-size: 16.8px;
}
.fs2 {
  font-size: 19.6px;
}
.height {
  height: 77px;
}
#customer_care {
  height: 109.2px;
}
.mg {
  margin: 16.8px 0px 0px 0px;
}
.mg2 {
  margin: 5.6px 0px 16.8px 0px;
}
#shelf_life span {
  height: 22.4px;
}
#shelf_life div {
  height: 32.2px;
}
#manufature span {
  height: 22.4px;
}
#manufature div {
  height: 32.2px;
}
#ingredients {
  height: 205.8px;
}
.lh {
  line-height: 22.54px;
}
.lh2 {
  line-height: 32.73px;
}
.pd {
  padding-top: 11.2px;
}
#product {
  font-size: 22.4px;
  line-height: 25.9px;
  height: 25.9px;
  padding: 22.4px 0px 14px 0px;
}
#top {
  height: 562.8px;
  width: 784px;
  padding: 28px 0px 0px 0px;
}
#right_prod_info {
  height: 156.8px;
  width: 784px;
  padding: 0 22.4px 0px 22.4px;
  color: #666666;
  font-size: 16.8px;
  line-height: 19.32px;
}
#right_name {
  font-size: 22.4px;
  height: 29.4px;
  width: 571.2px;
  margin: 0px 119.0px 0px 0px;
  padding: 0px 2.8px 0px 0px;
  color: #333333;
  white-space: pre-wrap;
}
#right_prod_info button {
  height: 39.2px;
  width: 140px;
  background-color: #ffe141;
  color: #666666;
  /* background: transparent; */
  border: transparent;
  outline: none;
}
#right_weight {
  font-size: 19.6px;
  line-height: 25.2px;
  margin: 0px 0px 11.2px 0px;
}
#right_price {
  height: 25.2px;
  width: 46.2px;
  font-size: 19.6px;
  line-height: 25.2px;
  margin: 0px 0px 5.6px 0px;
  color: #000000;
}
#hr {
  height: 1.4px;
  font-size: 16.8px;
  line-height: 18.2px;
  margin: 22.4px 19.6px 0px 14px;
  background-color: #eeeeee;
  color: #666666;
}
#unit_title {
  font-size: 19.6px;
  height: 25.2px;
  width: 81.2px;
  color: #000000;
  margin: 5.6px 8.4px 5.6px 8.4px;
  text-align: left;
}
#right_prod_unit {
  margin-left: 21px;
}
#right_unit {
  font-size: 21px;
  height: 53.2px;
  width: 77px;
  border: 1px solid #0c831f;
  color: #0c831f;
  margin: 11.2px 11.2px 11.2px 11.2px;
  padding: 11.2px 11.2px 11.2px 11.2px;
  text-align: center;
}
#bottom {
  height: 504.0px;
  width: 739.2px;
  margin: 22.4px 22.4px 22.4px 22.4px;
  line-height: 19.32px;
  font-size: 16.8px;
}
#why_shop {
  font-size: 22.4px;
  height: 25.2px;
  width: 739.2px;
  line-height: 25.2px;
  margin: 0px 0px 22.4px 0px;
  color: #000000;
}
#shopping_details {
  width: 739.2px;
  height: 425.6px;
  font-size: 16.8px;
  line-height: 19.32px;
}
.flx {
  display: flex;
}
.left_img img {
  font-size: 16.8px;
  line-height: 19.32px;
  height: 78.4px;
  width: 78.4px;
  padding: 0px 22.4px 0px 0px;
}
.right_info {
  font-size: 18.2px;
  line-height: 19.32px;
  height: 78.4px;
  width: 638.4px;
  padding: 8.4px;
  color: #333333;
}
