#address{
    height: 100vh;
    width:100%;
    border: 1px solid red;
    background-image: url('/images/unit3_blog.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
#inside_address{
    height:721px;
    width: 658px;
    padding: 42px 50.4px 0px 50.4px;
    margin: auto;
    margin-top: 70px;
    background-color:white;
    border-radius: 7px;
}
#address_title{
    height:28px;
    line-height: 28px;
    font-size: 25.2px;
    margin: 0px 0px 11.2px 0px;
}
h2,h4{
    text-align: center;
    line-height: 0;
}
#area{
height:42px;
width:630px
}
#title{
    height: 58.8px;
    width:127.4px
}
#First_last{
    height: 53.2px;
    width: 497.0px;
}

#flat_no{
    width:630px;
    height:53.2px;
    margin:5.6px 0px 0px 0px;
    /* padding:16.8px 14px 16.8px 14px */
}
#street_no{
    width:630px;
    height:53.2px;
    margin:5.6px 0px 0px 0px;
    /* padding:16.8px 14px 16.8px 14px */
}
#continue_btn,#cancel_btn{
    width:168px;
    height: 53.2px;
    margin-top: 21px;
}
#home_office_other{
    width:630px;
    height:53.2px;
    margin-top: 35px;
}
#street,#flat,#name{
    margin-top: 28px;
}
#continue_cancel{
    width:392px;
    display: flex;
    justify-content: space-around;
}
#continue_btn{
    background-color: #459220;
    border: transparent;
    color: white;
}
#address_info{
    background-color: #F9F9F9;
    color:#666666
}
