#footer_head{
    width: 100%;
    background-color: #ffffff;
    /* margin-left: 10%; */
  }
  
  #footer_head>div>h2{
       font-size: 16.8px;
      line-height: 25.2px;
      height: 25.2px;  
      color: #000000;
      text-decoration: none solid rgb(0,0,0);
      margin: 0 0 11.2px 0;
      word-spacing: 0px;
      font-family: Arial, Helvetica, sans-serif;
  }
  #footer_head>div>p{
      height: 25.2px;
      font-size: 16.8px;
      line-height: 25.2px;
    font-weight: 200;
    text-decoration: none solid rgb(102,102,102);
    color:#b3b3b3;
    word-spacing: 0px;
    /* text-align: justify; */
  }
  #footer_head>div:nth-child(2n)>p{
      height:75.6px;
  }
  #four_col{
      display: flex;
      margin-top: 84px;
      width: 95%;
     justify-content: space-around;
  }
  .col{
      display: flex;
  margin: 0px 14px;
  }
  .img img{
      height: 100.8px;
      width: 78.4px;
      padding:0 22.4px 0 0;
      vertical-align:middle ;
      font-size: 16.8px;
      font-weight: 200;
      line-height: 19.32px;
      text-decoration: none solid rgb(102,102,102);
      color:#666666
  
  }
  .info{
    height: 22.4px;
  }
  .info h2{
      font-size: 19.6px;
      text-decoration: none solid rgb(0,0,0);
      margin:0 0 11.2px 0;
  }
  .info p{
      font-size: 16.8px;
      line-height: 23.52px;
      text-decoration: none solid rgb(102,102,102);
      color:#666666
  }
  #left{
      font-size: 16.8px;
      height: 485.8px;
      width: 683.2px;
      border-right:  1px solid #EEEEEE;
      border-bottom:  1px solid #EEEEEE;
     padding: 44.8px 16.8px 44.8px 0px;
     line-height: 19.32px;
     text-decoration: none solid rgb(102,102,102);
  }
  #left_div_list{
      display: flex;
      height: 403.2px;
     
  }
  #left_div_list>div{
      margin:16.8px 0px 16.8px 0px;
      padding: 0 0 16.8px 0;
  }
  .list{
      font-size: 18.2px;
      line-height: 33.6px;
  }
  .list a{
      list-style-type:none;
      list-style-position: outside;
      text-decoration: none;
     color: #666666;
  }
  
  
  #middle{
      display: flex;
      margin-top: 70px;
      margin-bottom: 56px;
  }
  #right{
      display: flex;
      height: 497.0px;
      width: 933.8px;
      border-bottom:  1px solid #EEEEEE;
      padding: 33.6px 16.8px 44.8px 56px;
  }
  
  .right_list ul{
      font-size: 18.2px;
      line-height: 33.6px;
      width: 280px;
      height: 201.6px;
      padding: 8.4px 0 0 0 0 ;
  }
  .right_list ul a{
      list-style-type:none;
      list-style-position: outside;
      text-decoration: none;
      color:#666666
  }
  .title{
      margin-left: 35px;
      font-size: 18.2px;
      color: black;
      font-weight: 500;
  }
  #icon{
      display: flex;
      margin-left: 56px;
      height: 117.6px;
      width: 90%;
      border-bottom: 1px solid #EEEEEE;
      padding: 16.8px 0 16.8px 0;
  }
  #left_icon{
      display: flex;
      align-items: center;
      height: 117.6px;
      width:765.47px;
     /* border: 1.4px solid red; */
     font-size: 16.8px;
  }
  /* #left_icon ul{
      height: 67.2px;
      width:630px;
      font-size: 16.8px;
      line-height: 19.32px;
      
  } */
   #left_icon a{
       font-size: 25.2px;
      color:black;
      font-weight: 200;
       margin: 14px 0 14px 0; 
     padding:11.2px 14px 0px 16.8px
  } 
  .blinkit_care{
      border: 1px solid #EEEEEE;
      margin-left: 7px;
      border-radius: 28px;
      padding: 7px;
  }
  #right_icon{
      display: flex;
      align-items: center;
      font-size: 16.8px;
      font-weight: 700px;
      height: 117.6px;
      width: 467.6px;
      margin: 0 0 0 44.8px;
  }
  #right_img{
      display: flex;
  }
  #right_img img{
      height: 43.4px;
      width: 161px;
      margin: 0 0 0 21px;
  }
  #brands{
      height: 294px;
      margin:33.6px 0px 42px 0px;
      width:95%;
      margin-bottom: 42px;
  }
  #brands p{
      margin-left: 56px;
      word-spacing: 21px;
      line-height: 30.8px;
      color: #666666;
      cursor: pointer;
      text-align: justify;
  }
  #brands h3{
      margin-left: 56px;
      font-size: 19.6px;
      font-weight: 500;
  }
  #payment_partner{
      height:148.4px;
      width:1330px;
      border-bottom: 1px solid #EEEEEE;
      padding:0px 0px 44.8px 0px;
     margin-left: 56px;
     margin-bottom: 42px;
  }
  #payment_gateway{
      display: flex;
      align-items: center;
  }
  #payment_gateway img{
      height:84px ;
      width:84px;
      margin:0px 14px 0px 0px;
      display: inline-block;
  }
  #payment_gateway span{
      margin:0px 14px 0px 0px;
  }
  #service{
    font-size: 19.6px;
    line-height: 30.8px;
    height: 61.6px;
    width: 95%;
    border-bottom: 1px solid #EEEEEE;
    padding:22.4px 0px 22.4px 0px;
    color:#666666;
  margin-left: 56px;
  margin-bottom: 42px;
  }
  #policy{
      font-size: 16.8px;
      line-height: 18.2px;
      height: 36.4px;
      width: 95%;
      word-spacing: 2.8px;
      margin:56px 0px 56px 0px;
      margin-left: 56px;
      color: #999999;
  }
  #center{
      width: 80%;
  margin: auto;
  margin-top: 70px;
  }
